In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.239587  0.609592 -2.049783  0.720397
2013-01-02 -0.328208 -0.547208  1.568622  1.087776
2013-01-03  0.728329 -0.740802 -0.181689 -0.120444
2013-01-04  1.266046  1.856962 -0.248248  0.600195
2013-01-05  0.040643 -0.122950  0.227332  1.016802
2013-01-06 -1.438282 -1.977989 -1.849957 -0.023564

In [6]:
df2 = pd.DataFrame({'A': 1.,
   ...:             'B': pd.Timestamp('20130102'),
   ...:             'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:             'D': np.array([3] * 4, dtype='int32'),
   ...:             'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:             'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [15]:
df.head()

                   A         B         C         D
2013-01-01 -0.239587  0.609592 -2.049783  0.720397
2013-01-02 -0.328208 -0.547208  1.568622  1.087776
2013-01-03  0.728329 -0.740802 -0.181689 -0.120444
2013-01-04  1.266046  1.856962 -0.248248  0.600195
2013-01-05  0.040643 -0.122950  0.227332  1.016802

In [16]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.266046  1.856962 -0.248248  0.600195
2013-01-05  0.040643 -0.122950  0.227332  1.016802
2013-01-06 -1.438282 -1.977989 -1.849957 -0.023564