# 데이터 탐색하기와 전처리

## 데이터 준비

In [1]:
import pandas as pd
import os

fname = os.getenv('HOME') + '/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   # 임의로 지정한 컬럼명
data = pd.read_csv(fname, sep='\t', names= col_names)      # sep='\t'로 주어야 tsv를 열 수 있습니다.  
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

artist_MBID 항목은 우리의 관심사가 아닙니다. 사용하는 컬럼만 남기고 제거하도록 하겠습니다.

In [2]:
# 사용하는 컬럼만 남겨줍니다.
using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [3]:
# 검색을 쉽게하기 위해 아티스트 문자열을 소문자로 바꿔줍시다.
data['artist'] = data['artist'].str.lower() 
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [4]:
condition = data['user_id']== data.loc[0, 'user_id']
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

## 데이터 탐색

추천 모델을 만들기 전에 데이터의 기본적인 정보를 보고 갑시다. 아래 항목들을 확인해 보고 싶습니다.

- 유저수, 아티스트수, 인기 많은 아티스트
- 유저들이 몇 명의 아티스트를 듣고 있는지에 대한 통계
- 유저 play 횟수 중앙값에 대한 통계

(참고) pandas.DataFrame.nunique()은 특정 컬럼에 포함된 유니크한 데이터의 개수를 알아보는데 유용합니다.

In [5]:
# 유저 수
data['user_id'].nunique()

358868

In [6]:
# 아티스트 수
data['artist'].nunique()

291346

In [7]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [8]:
# 유저별 몇 명의 아티스트를 듣고 있는지에 대한 통계
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [9]:
# 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

## 모델 검증을 위한 사용자 초기 정보 세팅

In [10]:
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 
# 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = ['black eyed peas' , 'maroon5' ,'jason mraz' ,'coldplay' ,'beyoncé']

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

# user_id에 'zimin'이라는 데이터가 없다면
# 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 
if not data.isin({'user_id':['zimin']})['user_id'].any():  
    data = data.append(my_playlist)                          

data.tail(10)       # 잘 추가되었는지 확인해 봅시다.

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin  black eyed peas    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin          beyoncé    30

## 모델에 활용하기 위한 전처리 (실습)

(참고) pandas.DataFrame.unique()은 특정 컬럼에 포함된 유니크한 데이터만 모아 줍니다. indexing 작업을 위해 매우 유용합니다.

In [11]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [12]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx['zimin'])    # 358869명의 유저 중 마지막으로 추가된 유저이니 358868이 나와야 합니다. 
print(artist_to_idx['black eyed peas'])

358868
376

In [13]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

user_id column indexing OK!!
artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868     376    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

# CSR(Compressed Sparse Row) Matrix

행렬에는 사용자가 평가하지 않은 데이터인 0이 수두룩하게 존재할 것입니다.  
이 "쓸모없는" 데이터는 행렬의 크기만 확장시키는 결과를 가져옵니다.  
그래서 값이 채워져 있는 정보만 가져와서 아래와 같이 변환시켜 줍니다.  
- data: 채워진 값
- indices: 가져온 인덱스들
- indptr: 범위를 나타냄

In [44]:
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

# MF 모델 학습하기

implicit 패키지는 이전 스텝에서 설명한 암묵적(implicit) dataset을 사용하는 다양한 모델을 굉장히 빠르게 학습할 수 있는 패키지입니다.  
이 패키지에 구현된 als(AlternatingLeastSquares) 모델을 사용하겠습니다.

In [15]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

아래 AlternationgLeastSquares의 파라미터를 설명해 보겠습니다.  
1. factors : 유저와 아이템의 벡터를 몇 차원으로 할 것인지 
2. regularization : 과적합을 방지하기 위해 정규화 값을 얼마나 사용할 것인지 
3. use_gpu : GPU를 사용할 것인지 
4. iterations : epochs와 같은 의미입니다.

In [16]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [17]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [18]:
# 모델 훈련
als_model.fit(csr_data_transpose)

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

모델 학습이 끝났습니다!  
1. 저의 벡터와 black eyed peas의 벡터를 어떻게 만들고 있는지와 
2. 두 벡터를 곱하면 어떤 값이 나오는지 살펴보겠습니다.

In [23]:
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

In [20]:
zimin_vector

array([ 2.6470017e-01, -1.6554755e-01,  8.4132749e-01, -1.3503255e-01,
       -1.0110844e+00,  6.9636637e-01,  3.2722959e-01, -5.8173829e-01,
       -2.0788722e-01, -3.0563492e-01,  1.5770970e-01, -2.3008546e-01,
        1.2752446e+00,  1.5940905e+00, -3.0062070e-01, -1.3023032e-01,
       -4.9865139e-01, -2.4513455e-01,  7.0337689e-01, -5.0411803e-01,
        2.5755256e-01, -3.2925993e-01,  4.9855816e-01,  4.0405071e-01,
        1.3341637e-01,  8.1808323e-01, -5.0790224e-02,  9.0673149e-01,
        7.0334012e-05, -3.1875807e-01, -6.6969484e-01, -9.1488898e-01,
       -4.4338033e-01, -2.6664628e-02,  3.0193651e-01, -5.8261335e-02,
       -6.0252905e-01,  2.3187244e-01,  9.5846438e-01,  6.1506689e-01,
        1.3639274e+00, -4.3235722e-01, -5.1316023e-01, -1.8746564e-01,
       -4.2427224e-01,  3.4060678e-01, -4.7651282e-01,  5.0222975e-01,
        4.8242226e-01, -1.1372017e+00, -1.8668923e+00,  5.8428538e-01,
       -4.7260091e-01,  6.2100685e-01,  5.6399590e-01,  9.8394386e-02,
       -1.4588079e-01, -7.5861210e-01,  1.5639715e-01,  4.6005029e-02,
        1.3775377e+00, -6.5000731e-01, -3.2445535e-01, -7.9362996e-02,
        9.2130977e-01,  5.0981051e-01, -1.6653988e-01, -5.5550694e-01,
        5.6254901e-02, -6.9936126e-01,  1.9172194e+00,  9.1822207e-02,
        4.5047125e-01, -3.5833073e-01, -4.1658726e-01, -3.3253157e-01,
       -3.2450828e-01, -2.1346448e-01, -1.9639553e-01,  4.5689330e-01,
        7.1681380e-01, -4.4522411e-01, -6.3010466e-01, -1.9613226e-01,
       -1.0387133e+00,  7.2099268e-01,  1.3795578e-02, -4.9512169e-01,
       -3.3149609e-01,  1.5975007e-01, -1.6566854e+00, -4.7939789e-01,
        8.4996504e-01,  5.4420626e-01,  8.6708516e-01,  3.6062077e-01,
        6.3133645e-01,  5.6389296e-01,  3.6726427e-01, -4.6446404e-01],
      dtype=float32)

zimin의 벡터 모습입니다.

In [21]:
black_eyed_peas_vector

array([ 0.00296293,  0.00227728,  0.01043397,  0.01437368,  0.00692884,
        0.01652059,  0.00050306, -0.01503828,  0.00512576, -0.00564766,
        0.00692914, -0.00107074,  0.02778726,  0.02269562, -0.00903116,
        0.00759753, -0.00765618,  0.00915293,  0.01940787,  0.00171096,
        0.02245161, -0.00055595,  0.00143994,  0.02047077,  0.00844881,
        0.02194171,  0.00725836,  0.02322499,  0.00664818,  0.0059377 ,
       -0.01179793, -0.00628541, -0.00906881,  0.00203451,  0.01686562,
       -0.00182819,  0.00197582,  0.0117223 ,  0.00713074,  0.0225759 ,
        0.01493017,  0.00415886, -0.00784732, -0.00131977, -0.00529874,
        0.01504298, -0.00719253,  0.00275217,  0.00055989,  0.00246086,
       -0.00673778,  0.00621271,  0.00312759,  0.01365581,  0.01555076,
        0.0133235 ,  0.01150589,  0.00606163,  0.01816087, -0.00193151,
        0.03166679, -0.0054296 ,  0.01256222, -0.00709382,  0.03086973,
        0.01304172,  0.00037361, -0.00611353,  0.00700648,  0.00716277,
        0.01418608,  0.01084471,  0.00012845, -0.00491798,  0.00686903,
        0.00692667,  0.01906488,  0.00056414,  0.01684117,  0.01309989,
        0.02749851,  0.01436026,  0.00540454,  0.01155681, -0.01703704,
        0.02857896,  0.01959597, -0.00083913,  0.00480325,  0.00461281,
       -0.018385  ,  0.00475958,  0.00502809,  0.01196885,  0.0177191 ,
        0.01689078, -0.00169654,  0.02796859,  0.01326195, -0.0018439 ],
      dtype=float32)

black_eyed_peas의 벡터 모습입니다.

이 둘을 내적해서 얼마나 유사한지 확인해 보겠습니다.

In [22]:
# zimin과 black_eyed_peas를 내적하는 코드
np.dot(zimin_vector, black_eyed_peas_vector)

0.4958035

대략 0.5정도가 나오게 됩니다.  
파라미터를 조정해서 1과 가깝게 나왔다고 해도 "학습이 잘되었다"라고 보기엔 무리가 있습니다.  
왜냐하면 학습 데이터에만 fitting 되었지 앞으로 오게 될 데이터에 대해서 어떻게 처리할 지 모르기 때문입니다.  
Overfitting일 수도 있단는 얘기입니다.

In [24]:
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.27897546

# 비슷한 아티스트 찾기 + 유저에게 추천하기

## 비슷한 아티스트 찾기

AlternatingLeastSquares 클래스에 구현되어 있는 similar_items 메서드를 통하여 
비슷한 아티스트를 찾아보겠습니다.

In [25]:
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 0.12591454),
 (277, 0.124547064),
 (28, 0.12359894),
 (5, 0.12348423),
 (217, 0.12269412),
 (247, 0.12185436),
 (473, 0.12141749),
 (490, 0.12071761),
 (910, 0.1202758),
 (418, 0.12026621),
 (694, 0.11923043),
 (782, 0.11896448),
 (268, 0.118945934),
 (1018, 0.118277624),
 (55, 0.117822714)]

(아티스트의 id, 유사도)를 Tuple로 반환하고 있습니다.  
id만 보고 어떤 아티스트인지 모르기 때문에 다시 이름으로 변경해보겠습니다.

In [37]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'the killers',
 'red hot chili peppers',
 'radiohead',
 'the beatles',
 'placebo',
 'oasis',
 'nirvana',
 'u2',
 'foo fighters',
 'the white stripes',
 'pink floyd',
 'the smashing pumpkins',
 'arctic monkeys']

몇 번 더 반복하기 위해서 아예 함수로 만들어 보겠습니다.

In [38]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

In [39]:
get_similar_artist('2pac')

['2pac',
 'notorious b.i.g.',
 'dr. dre',
 'snoop dogg',
 'nas',
 'the game',
 'jay-z',
 'busta rhymes',
 'ludacris',
 'dmx']

## 유저에게 아티스트 추천하기

**AlternatingLeastSquares** 클래스에 구현되어 있는 **recommend** 메서드를 통하여 제가 좋아할 만한 아티스트를 추천 받을 수 있습니다.  
**filter_already_liked_items** 는 유저가 이미 평가한 아이템은 제외하는 Argument입니다.

In [40]:
user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(350, 0.46203494),
 (369, 0.4465196),
 (550, 0.44628492),
 (627, 0.4423551),
 (274, 0.43938935),
 (1800, 0.43336797),
 (391, 0.40716594),
 (354, 0.4008559),
 (901, 0.39608282),
 (621, 0.39356393),
 (2249, 0.3924222),
 (564, 0.37790132),
 (358, 0.3769011),
 (5555, 0.36958045),
 (944, 0.3681464),
 (355, 0.36807817),
 (618, 0.3657329),
 (1777, 0.3596837),
 (409, 0.35858577),
 (24, 0.34919366)]

In [41]:
[idx_to_artist[i[0]] for i in artist_recommended]

['rihanna',
 'justin timberlake',
 'britney spears',
 'maroon 5',
 'michael jackson',
 'lady gaga',
 'christina aguilera',
 'nelly furtado',
 'pink',
 'alicia keys',
 'katy perry',
 'kanye west',
 'kelly clarkson',
 'timbaland',
 'avril lavigne',
 'madonna',
 'the pussycat dolls',
 'mariah carey',
 'amy winehouse',
 'jack johnson']

rihanna를 추천해주고 있네요. 모델은 왜 rihanna를 추천해줬을까요?   
AlternatingLeastSquares 클래스에 구현된 explain 메소드를 사용하면 제가 기록을 남긴 데이터 중 이 추천에 기여한 정도를 확인할 수 있습니다.

In [42]:
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)

In [43]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('beyoncé', 0.21563121511947292),
 ('black eyed peas', 0.13847669741658092),
 ('jason mraz', 0.07032833352334868),
 ('coldplay', 0.039651860012501185),
 ('maroon5', -0.0002661620565242313)]

위의 결과를 보면 내가 선택한 아티스트 들이 이 추천에 얼마나 기여를 하고 있는 지 볼 수 있습니다.  
비욘세가 0.21로 가장 큰 기여를 했다고 볼 수 있습니다.  

filter_already_liked_items=True로 했는데 앞에 maroon 5는 제가 이미 평가한 아이템이 나오고 있습니다.이것은 implicit 버전 0.4.2에서 생긴 버그입니다. 코드는 사람이 만들기 때문에 이렇게 실수할 가능성이 있습니다.

많이들 사용하는 Tensorflow나 numpy, pandas도 여러 작은 버그들이 있습니다.   
이런 유명한 패키지의 오류를 고쳐서 Pull Request를 하여 Contribute 한다면 좋은 이력이 되기도 합니다.

우리가 만든 모델은 몇 가지 아쉬운 점이 있습니다.  
1. 유저, 아티스트에 대한 Meta 정보를 반영하기 쉽지 않습니다. 연령대별로 음악취향이 굉장히 다르지 않을까요?
2. 유저가 언제 play 했는지에 반영하기 쉽지 않습니다. 10년 전에 즐겨듣던 아티스트와 지금 즐겨듣는 아티스트를 비교해보세요.